default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  host: <%= ENV.fetch("POSTGRES_HOST", 'db') %>
  username: <%= ENV.fetch("POSTGRES_USER", 'postgres') %>
  password: <%= ENV.fetch("POSTGRES_PASSWORD", 'postgres') %>

development:
  <<: *default
  database: teste-delivery-center_development

test:
  <<: *default
  database: teste-delivery-center_test

production:
  <<: *default
  database: teste-delivery-center_production
  username: teste-delivery-center
  password: <%= ENV['teste-delivery-center_DATABASE_PASSWORD'] %>
git ini